body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#addBtn {
    padding: 10px 15px;
    background: #4676ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#delBtn {
    padding: 10px 15px;
    background: #fc4747;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#editBtn {
    padding: 10px 15px;
    background: #ffed46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addBtn:hover {
    background: #365cd1;
}

#delBtn:hover {
    background: #f80101;
}

#editBtn:hover {
    background: hsl(61, 89%, 46%);
}

#saveBtn {
    padding: 10px 15px;
    background: #46ff46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveBtn:hover {
    background: #2cc71e;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 8px;
    background: #eee;
    border-radius: 6px;
}

.task-text {
    flex: 1;
}

.actions {
    display: flex;
    gap: 6px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 4px 6px;
}

.complete-btn {
    background: green;
    color: white;
}

.edit-btn {
    background: orange;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}

.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
}

li.completed.task-text {
    text-decoration: line-through;
    opacity: 0.6;
}
