body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#addBtn {
    padding: 10px 15px;
    background: #4676ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addBtn:hover {
    background: #365cd1;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
